.nameCol {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: lighter;
}

.row.table{
    border-bottom: dashed 1px;
    border-bottom-color: grey;
    cursor: pointer;
}

.row.selected {
    border: solid 1px;
    background-color: lightgrey;
}



.col {
    font-weight: 200;
    text-align:left;
}

.symbolCol {
    font-weight: normal;
}

.priceColPositive {
    animation: changePositive 3s step-start both;
    font-weight: bolder;

}

.priceCol {
    text-align: right;
}

.col.chartCol {
    width:100%;
    text-align: center !important;
}

@keyframes changePositive {
    from { color: rgb(37, 37, 41) }
    to   { color: green }
}

.priceColNegative {
    animation: changeNegative 3s step-start both;
}

@keyframes changeNegative {
    from { color: rgb(37, 37, 41) }
    to   { color: red }
}
